.idea/
autumn.iml
autumn-api/target/
autumn-executors/target/
autumn-jira/target/
autumn-reporting/target/
autumn-ui/target/
autumn-utils/target/
autumn-api/autumn-api.iml
autumn-executors/autumn-executors.iml
autumn-jira/autumn-jira.iml
autumn-reporting/autumn-reporting.iml
autumn-ui/autumn-ui.iml
autumn-utils/autumn-utils.iml
target/
/.DS_Store
autumn-api/pom.xml.versionsBackup
autumn-executors/pom.xml.versionsBackup
autumn-jira/pom.xml.versionsBackup
autumn-ui/pom.xml.versionsBackup
autumn-utils/pom.xml.versionsBackup
autumn-reporting/pom.xml.versionsBackup
autumn-api/src/license/
autumn-executors/src/license/
autumn-jira/src/license/
autumn-ui/src/license/
autumn-utils/src/license/
autumn-reporting/src/license/